:root {
  --main-color: #f87e1a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ---------------------------header starts here--------------------------------- */
.logo-icon {
  height: 24px;
  margin-right: 3px;
}

.brand {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.brand-logged {
  margin-left: 5px;
  font-size: 20px;
}

.brand-new {
  margin-top: 20px;
}

.brand-text {
  color: black;
}

.brand-text:hover {
  color: black;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='whitesmoke' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  text-align: right;
  margin-right: 5px;
  font-weight: 500;
  color: white;
}

.nav-link:hover {
  color: var(--main-color);
}

/* --------------------------header ends here--------------------------------- */

/* --------------------------------- home page starts here ---------------------------------  */
.homepage {
  background-image: url("./assets/HomePage.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* 100% of the viewport height */
}

.home {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%);
  color: whitesmoke;
}

.home-title {
  font-weight: 900;
}

.home-text {
  margin: 10px auto 15px auto;
  font-size: 15px;
}

.home-btn,
.signup-btn,
.submit-btn {
  border: none;
  outline: none;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--main-color);
  font-weight: 800;
}

.home-btn:hover,
.signup-btn:hover,
.submit-btn:hover {
  background-color: #9cd326;
}
/* --------------------------------- homepage ends here-------------------------------- */

/* 3. --------------------------------- sign up and login page starts here-------------------------------- */
.signup,
.history {
  height: 100vh;
}

.signup-form {
  width: 300px;
  margin: 20px 0 90px 0;
}

.signup-form label {
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.signup-form input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
}

.btn-div {
  margin: 18px auto;
}

.signup-btn {
  width: 300px;
  height: 46px;
}

.link-btn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.err-message {
  color: red;
}
